server:
  port: ${PORT:8000}

spring:
  config:
    import: optional:file:.env[.properties]
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver
  application:
    name: dudoji-backend

kakao:
  auth:
    client_id: # YOUR CIENT ID ,
    redirect_uri: http://localhost:8000/callback