server:
  port: 36071
  https-port: 36073
  url:  ${DEPLOY_SERVER:http://localhost}
spring:
  profiles:
    active: local
  config:
    import: optional:file:.env[.properties]
  task:
    execution:
      pool:
        queue-capacity: 100
        max-size: 8
  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
  sql:
    init:
      mode: never
      data-locations: classpath:static/sql/data.sql
      schema-locations: classpath:static/sql/schema.sql
  web:
    resources:
      static-locations: classpath:/static/
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USER}
    password: ${DATABASE_PW}
    driver-class-name: org.postgresql.Driver
  application:
    name: dudoji-backend
  security:
    oauth2:
      client:
        registration:
          kakao:
            client-id: ${KAKAO_CLIENT_ID}
            redirect-uri: ${KAKAO_REDIRECTION_URI}
            authorization-grant-type: authorization_code
            scope:
              - profile_nickname
              - account_email
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id


jwt:
  secret: ${JWT_SECRET}

file:
  upload-dir: ${IMAGE_FILE_PATH}

app:
  security:
    user-agent-filter:
      exclude-urls :
        - /api/admin/**
        - /admin/**
        - /user/loginForm
        - /user/joinForm
        - /
logging:
  webhook-url: ${SLACK_WEBHOOK_URL}
  channel: dudoji-server-log
open-api:
  festival:
    end-point: http://api.data.go.kr/openapi/tn_pubr_public_cltur_fstvl_api
    key: ${FESTIVAL_API_KEY}