<configuration>
    <springProperty scope="context" name="WEBHOOK_URL" source="logging.webhook-url"/>
    <springProperty scope="context" name="CHANNEL" source="logging.channel"/>
    <appender name="SlackAppender" class="com.dudoji.spring.util.log.SlackAppender">
        <webhookUrl>${WEBHOOK_URL}</webhookUrl>
        <channel>${CHANNEL}</channel>
    </appender>
    <appender name="AsyncSlackAppender" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="SlackAppender"/>
    </appender>

    <appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.dudoji" level="DEBUG" additivity="true">
      <appender-ref ref="ConsoleAppender"/>
    </logger>

    <root level="INFO">
      <appender-ref ref="AsyncSlackAppender"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
</configuration>