<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title layout:title-pattern="$CONTENT_TITLE">Dudoji</title>

    <link rel="stylesheet" type="text/css" th:href="@{/admin/style/base-style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/admin/style/table-style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/admin/style/modal-style.css}">

    <section layout:fragment="scripts"></section>
</head>
<body>

    <header>
        <div th:replace="fragments/navi"></div>
    </header>

    <main layout:fragment="content">
        <!-- 각 페이지가 덮어쓸 영역 -->
    </main>

    <footer>

    </footer>

</body>

<section layout:fragment="underScripts"></section>
</html>